name: My First workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Use Node.js
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: npm install

      - name: Build with gulp
        run: gulp build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: MyPackage
          path: dest
